os
torch
numpy
torch.utils.data
torchvision
PIL
pycocotools.coco
torchvision.models.detection.mask_rcnn
torchvision.models.detection.faster_rcnn
pycocotools.cocoeval
sklearn.preprocessing
cv2
torchvision.transforms
optparse
matplotlib.pyplot
matplotlib.patches
matplotlib
pathlib
